*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background: #0f0f0f;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
nav{
    margin-top: 10px;
    text-align: center;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.search-bar button {
    width: 100px;
    padding: 10px 20px;
    border: none;
    background-color: #981317;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.card{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    display: flex;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    height:60%;
    border-radius: 2px;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.container .card{
    flex: 1 1 calc(25% - 2rem);
    box-sizing: border-box;
}